{% extends "auth_base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="position-absolute" style="top: 20px; left: 20px;">
    <a href="{% url 'login' %}" class="btn btn-outline-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L6.707 7l4.647 4.646a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708 0z"/>
        </svg>
        Back to Login
    </a>
</div>
<h2 class="text-center mb-4">Reset Password</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Send Password Reset Email</button>
</form>
{% endblock %}
